

@media (max-width:480px) {
    .container{
        height: 40px;
    }
    .navbar-links{
        display:none;
        
    }
    .logo img{
        width: 94px;
    }
    .toggle-button{
        display:block;
        top: 45px;
        font-size: 20px;
      
    }
    .icons{
        top: 40px;
    }
    .icon{
        width: 20px;
       
    }
    .icon1{
       display: none;
    
    } 
    .icons :nth-child(1){
        margin-right: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-li{
        text-align: center;
    }
    .navbar-links.active{
        display: block;
        background-color: white;
    }
    .container1{
        max-width: 328px;
        width: 100%;
        height: 650px;
        padding: 0 13px;

        flex-direction: column;
    }
    .test{
        max-width: 328px;
        width: 100%;
        height: 100px;
        display: block;
        border-radius: 10px;
    }
    .text{
        font-size: 24px;
        writing-mode:unset;
        transform: rotate(0);
        margin-top: 57px;
        margin-left: 32px;
    }
}

/* footer */
@media (max-width:1300px){
    .container-footer{
        padding-left:20px;
        padding-right:20px;
    }
    .last{
       
        padding: 0 30px;
    }

}

@media (max-width:1050px){
    .left{
        margin-right: 50px;
    }
}
@media (max-width:960px){
  .box1{
      width: 50%;
  }
  .box2{
        width: 50%;
   }
   .box3{
        width: 50%;
   }
   .box4{
        width: 50%;
   }
   .footer-wrapper{   
        flex-direction: column;
   }
   .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
   }
   .social-icons{
         margin-top: 15px;
    }
    .box{
        padding: 0 100px;
    }
    .box li{
        white-space: nowrap;
    }


}

@media (max-width:750px){
    .box{
        padding:0 30px;
    }
    .box li{
       white-space: nowrap;
    }
}


@media (max-width:490px) {
    .container-footer{
        padding-top: 0;
        padding-left:20px;
        padding-right:0 ;
    }
    .footer-wrapper{
        display: block;
    }
    .right{
        display: block;
    }
    .left{
        display: flex;
        justify-content: center;
        margin-right: 0;
        padding-top: 11px;
    }
    .box li{
        display: none;
    }
    .left img{
        width: 94px;
    }
    .social-icons{
        display: none;
    }
    .box{
        padding:0;
    }
    .box h3{
        color:black ;
        font-size: 14px;
    }
    .last{
        display: block;
     
    }
    .last p{
        display: flex;
        justify-content: center;
    }
}

/* sale */
@media (max-width:480px){
    .select{
        display: none;
    }
    .container-shoes{
        padding:0 18px;
    }
    .image-block img{
        width:160px;
    }
    .image-block{
        width: 50%;
    }
    .title1{
        font-size: 14px;
        padding: 0;
    }
    .price span{
        font-size: 12px;
        margin-left: 0;
    }
    .image-block1{
        display: none;
    }
}
