/* header */
@media (max-width:1240px) {
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo img{
        width: 250px;
    }
    .nav-a{
        white-space: nowrap;
    }
    .icon{
        width: 30px;
    }
}
@media (max-width:1140px) {
    .navbar{
        justify-content: space-around;
    }
    .logo img{
        width: 220px;
    }
    .nav-a{
       font-size: 16px;
    }
    .icon{
        width: 25px;
    }
    .icon1 {
        margin: 0 16px;
    }
}

@media (max-width:970px){
    .logo img{
        width: 180px;
    }
    .nav-li{
        padding: 10px;
    }
    .icon{
        width: 20px;
    }
    .icon1 {
        margin: 0 10px;
    }
}

@media (max-width:900px){
    .navbar-links{
        display:none;
    }
    .toggle-button{
        display:block;
        top:65px;
        font-size: 20px;
        left: 12px;
        
    }
    .navbar-links.active{
        display: block;
        width: 400px;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-li{
        border-bottom: 1px solid #b1acac;
    }
    .nav-a{
        font-size: 14px;
        font-weight: bold;    
    }
    .dropdown-ul{
        width:200px;
        margin-top: 0;
       
    }
    .dropdown-ul1{
        width:200px;
        border-bottom:  1px solid #b1acac;
        margin-left: 0;
    }
    .dropdown-li1{
        border-bottom:  1px solid #b1acac;
    }
    .dropdown-li2{
        border-bottom:  1px solid #b1acac;
    }

     
        

}

@media (max-width:480px) {
    .navbar-links{
        display:none;
        
    }
    .logo img{
        width: 94px;
    }
    .toggle-button{
        display:block;
        top: 45px;
        font-size: 20px;
        left: 12px;
    }
    .icons{
        top: 40px;
    }
    .icon{
        width: 20px;
       
    }
    .icon1{
       display: none;
    
    } 
    .icons :nth-child(1){
        margin-right: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-li{
        border-bottom: 1px solid #b1acac;
    }
    .nav-a{
        font-size: 14px;
        font-weight: bold;    
    }

    .navbar-links.active{
        display: block;
        background-color: white;
        max-width: 400px;
        width: 100%;
    }
    .dropdown-ul{
        width:200px;
       
    }
    .dropdown-ul1{
        width:200px;
        border-bottom:  1px solid #b1acac;
        margin-left: 0;
    }
    .dropdown-li1{
        border-bottom:  1px solid #b1acac;
    }
    .dropdown-li2{
        border-bottom:  1px solid #b1acac;
    }
    .fa-sort-down{
        display: block;
    }



    .container1{
        max-width: 328px;
        width: 100%;
        height: 650px;
        padding: 0 13px;

        flex-direction: column;
    }
    .test{
        max-width: 328px;
        width: 100%;
        height: 100px;
        display: block;
        border-radius: 10px;
    }
    .text{
        font-size: 24px;
        writing-mode:unset;
        transform: rotate(0);
        margin-top: 57px;
        margin-left: 32px;
    }
}

/* footer */
@media (max-width:1300px){
    .container-footer{
        padding-left:20px;
        padding-right:20px;
    }
    .last{
       
        padding: 0 30px;
    }

}

@media (max-width:1050px){
    .left{
        margin-right: 50px;
    }
}
@media (max-width:960px){
  .box1{
      width: 50%;
  }
  .box2{
        width: 50%;
   }
   .box3{
        width: 50%;
   }
   .box4{
        width: 50%;
   }
   .footer-wrapper{   
        flex-direction: column;
   }
   .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
   }
   .social-icons{
         margin-top: 15px;
    }
    .box{
        padding: 0 100px;
    }
    .box li{
        white-space: nowrap;
    }
    .last{
        display: block;
        margin-top: 17px;
     
    }
    .last p{
        display: flex;
        justify-content: center;
        margin-top: 11px;
    }


}

@media (max-width:750px){
    .box{
        padding:0 30px;
    }
    .box li{
       white-space: nowrap;
    }
   
}


@media (max-width:490px) {
    .container-footer{
        padding-top: 0;
        padding-left:20px;
        padding-right:0 ;
    }
    .footer-wrapper{
        display: block;
    }
    .right{
        display: block;
    }
    .left{
        display: flex;
        justify-content: center;
        margin-right: 0;
        padding-top: 11px;
    }
    .box ul{
        display: none;
    }
    .left img{
        width: 94px;
    }
    .social-icons{
        display: none;
    }
    .box{
        padding:0;
        width: 328px;
        margin: 0 auto;
      
    }
    .box h3{
        color:black ;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .last{
        display: block;
        margin-top: 17px;
     
    }
    .last p{
        display: flex;
        justify-content: center;
        margin-top: 11px;
    }
    .social-icons1{
        display: block;
        display: flex;
        justify-content: center;
    }
    .title-box{
        width: 320px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #b1acac;
        margin-bottom: 15px;
    }
    .fa-sort-down{
        display: block;
    }
    .box:hover .ul-box{
        display: block;
    }

}
@media(max-width:390px){
    .title-box{
        width: 260px;
    }
    .box{
        width: 280px;
    }

}

/* sale */
@media(max-width:1300px){
    .select{
        display: none;
    }

    .image-block{
        width:360px;
    }
    .image-block img{
        width:360px;
    }
    .wrapper{
        padding:0 40px;
    }
    .dot{
        width: 22px;
        height: 22px;
    }


}

@media(max-width:1200px){
    .image-block{
        width:300px;
    }
    .image-block img{
        width:300px;
    }
}
@media(max-width:1050px){
    .image-block{
        width:270px;
    }
    .image-block img{
        width:270px;
        border-radius: 10px;
    }
    .title1{
        font-size: 20px;
        padding: 0;
    }
    .price span{
        font-size: 18px;
        margin-left: 0;
    }
    .dot{
        width: 20px;
        height: 20px;
        margin-right: 22px;
    }

}
@media(max-width:970px){
    .image-block{
        width:240px;
    }
    .image-block img{
        width:240px;
        border-radius: 10px;
    }
    .title1{
        font-size: 18px;
        padding: 0;
    }
    .price span{
        font-size: 16px;
        margin-left: 0;
    }

}

@media(max-width:870px){
    .image-block{
        width:200px;
    }
    .image-block img{
        width:200px;
        border-radius: 10px;
    }
    .dot{
        width: 18px;
        height: 18px;
        margin-right: 18px;
    }

}

@media(max-width:750px){
    .image-block{
        max-width:180px;
        
    }
    .image-block img{
        width:160px;
        border-radius: 10px;
    }
    .title1{
        font-size: 14px;
        padding: 0;
    }
    .price span{
        font-size: 12px;
        margin-left: 0;
    }

}
@media(max-width:640px){
    .image-block{
        width:160px;
        margin-right: 5px;
    }
    .wrapper{
        padding:0 20px;
    }
    .dot{
        width: 15px;
        height: 15px;
        margin-right: 15px;
    }
} 

@media(max-width:555px){
    .image-block1{
        display: none;
        margin-right: 10px;
    }
    .wrapper{
        padding:0 50px;
    }

}
@media(max-width:450px){
    .wrapper{
        padding:0 20px;
    }
    .dot{
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
}
@media(max-width:390px){
    .image-block{
        width: 140px;
    }
    .image-block img{
        width: 140px;
    }
    .wrapper{
        padding:0 5px;
    }
}
/* page3 */
@media(max-width:1300px) {
    .container3{
       padding:0 20px;

    }
    .top{
        justify-content: space-around;
    }
    .top-side{
        width: 525px;
        height: 500px;
    }
    .bottom-side{
        width: 500px;
    }
    .little1{
        width: 128px;
        height: auto;
        margin-right: 5px;
    }
    .right-block{
        width: 480px;
        height: auto;
    }
  .product_preview{
         height: auto;
  }
  .size{
    margin-right: 10px;
}
.sizes :nth-child(3){
    margin-right: 10px;
   
}
.sizes :nth-child(5){
    margin-right: 10px;
   
}
@media(max-width:1150px){
    .block-bg{
        justify-content:flex-end;
    }
    .block-bg1{
        justify-content:flex-end;
    }
    .bottom-right h4{
        margin-left: 80px;
    }
    .stars h3{
        font-size: 25px;
        white-space:nowrap;
    }
    .input::placeholder{
        font-size: 18px;
       padding-left: 2px;
    }

}
@media(max-width:1000px){
   .block-bg p{
    width: 320px;
   }
   .block-bg1 p{
    width: 320px;
   }
   .bottom-right h4{
    margin-left: 140px;
}
}
@media(max-width:900px){
    .bottom-right{
        display: none;
    }
    .bottom-right1{
        display: block;
    }
    .star2{
        margin-bottom: 10px;
    }
    .input::placeholder{
        font-size: 16px;
    }
    .bottom-right1 h4{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .stars h3{
        font-size: 18px;
    }
    .last-section h3{
        font-size: 25px;
    }
   
} 
}
@media(max-width:720px) {
    .bottom{
        display: block;
        padding: 10px;
    }
    .last-section{
        padding: 10px;
    }
    .block-bg{
        justify-content: center;
    }
    .block-bg1{
        justify-content: center;
    }
    .bottom-right1 h4{
        margin-top:20px;
    }
    .last-section h3{
        font-size: 20px;
    }
    .see{
        font-size: 25px; 
    }
}
@media(max-width:530px){
    .input::placeholder{
        font-size: 14px;
    }
    .block-bg p{
        width: 244px;
    }
     .block-bg1 p{
        width: 244px;
    }
    .bg{
        width: 53px;
        height: 50px;
        padding: 11px 14px;

    }
    .fa-user{
        font-size: 30px;
    
    }
    .other2{
        display: none;
    }
}
@media(max-width:590px){
    .other3{
        display: none;
    }
    .other1{
        width: 200px;
    }
    .other1 img{
        width: 200px;
    }
    .other{
        width: 200px;
    }
    .other2 img{
        width: 200px;
    }
    .image-blocklast{
        justify-content: space-around;
    }
}

@media(max-width:380px){
    .block-bg p{
        width: 200px;
    }
     .block-bg1 p{
        width: 200px;
    }
    .see{
        display: none;
    }


}
@media(max-width:1100px) {
    .top-side{
        width: 415px;
        height: 400px;
    }
    .bottom-side{
        width: 400px;
    }
    .little1{
        width: 100px;
        height: auto;
        margin-right: 5px;
    }
    .right-block{
        width: 300px;
        height:auto;
        margin-top: 20px;
    }
    .product_preview{
        height: auto;
    }
    .size{
        width: 45px;
        height: 37px;
        padding:6px;
        margin-right: 5px;
        font-size: 22px;
    }
    .sizes :nth-child(3){
        width: 45px;
        height: 37px;
        padding:6px;
        margin-right: 5px;
        font-size: 22px;
    }
    .sizes :nth-child(5){
        width: 45px;
        height: 37px;
        padding:6px;
        margin-right: 5px;
        font-size: 22px;
    }
    .title7{
        width: 130px;
     
    }
    .title8{
        width: 130px;
      
    }
    .title4{
        font-size: 30px;
    }
    .title5{
        font-size: 20px;
    }
    .middle-bg1 p{
        margin-top: 15px;
        font-size: 14px;

    }
    .middle-bg2 p{
        margin-top: 15px;
        font-size: 14px;

    }
    .middle{
        padding: 0 15px;
    }
    .sell{
        margin-right: 25px;
        font-size: 20px;
        font-weight: bold;
    } 
    .sell1{
        margin-right: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    .middle1 :nth-child(2){
        font-size: 30px;
        font-weight: bold;
    }
    .sell2{
        font-size: 50px;
        font-weight: bold;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border: 1px solid #E6823C;
        padding: 20px;
    
    }

}
@media(max-width:820px){
    .bottom-side{
        width: 315px;
    }
    .bottom-side :nth-child(4){
        display: none;
    }
    .top-side{
        width: 315px;
        height: 320px;
    }
    .title7{
        width: 90px;
        height: 50px;
        font-size: 16px;
      
    }
    .title8{
        width: 90px;
        height: 50px;
        font-size: 16px;
      
    }
    .title4{
        font-size: 25px;
    }
    .title5{
        font-size: 18px;
    }
    .title6{
        font-size: 20px;
    }
    .middle-bg1 p{
        margin-top: 15px;
        font-size: 14px;

    }
    .middle-bg2 p{
        margin-top: 15px;
        font-size: 14px;

    }
}


@media(max-width:700px){
    .top{
        display: block;
    }
    .bottom-side{
        display: none;
    }
    .star1{
        display: none;
    }
    .right-block{
        margin: 0 auto;
    }
    .middle-bg{
        display:none;
    }
    .sizes{
        display: none;
    }
    .bottom-bg1{
    flex-direction: column;
    }
    .title7{
        width: 328px;
        height: 50px;
        margin-bottom: 26px;
        margin-top: 25px;
    }
    .title8{
        width: 328px;
        height: 50px;
    }
    .star-mobile{
        display: block;
        margin-top: 38px;
    }
    .middle-bgmobile{
        display: block;
        display: flex;
    }
    .sizes-mobile{
        display: block;
        margin-top: 31px;
    }
    .size{
        width: 36px;
        height: 31px;
        font-size: 16px;
    }
    .sizes :nth-child(3){
        width: 36px;
        height: 31px;
        font-size: 16px;
    }
    .sizes :nth-child(5){
        width: 36px;
        height: 31px;
        font-size: 16px;
    }
    .middle{
      flex-direction: column;
      background-color: #eaeaea;
      align-items: flex-start;
      height:auto;
    }
    .sell{
        margin-top: 20px;
       margin-bottom: 40px;
    } 
   
    .middle1 :nth-child(2){
        margin-bottom: 15px;
       
    }
    
}
@media(max-width:430px){
    .title7{
        width: 250px;
    }
    .title8{
        width:250px;
       
    }
        
}
@media(max-width:430px){
    .bottom-side{
        width: 270px;
    }
    .top-side{
        width:270px;
        height: 290px;
    }
    .container3{
        padding:0;
    }
    .middle{
        padding:0 15px
    }
    .middle2{
        margin:0;
    }
   
}
/* bag */
@media(max-width:1300px){
    .container-bag{
        padding:61px 20px 0 20px;
    }
    .order1{
        font-size: 16px;
    }
    .order1 :nth-child(1){
        font-size: 16px;
    }
    .order1 :nth-child(2){
        font-size: 16px;
    }
    .order1 :nth-child(3){
        font-size: 16px;
    }
    .order1 :nth-child(4){
        font-size: 16px;
    }
    .bag-box{
        font-size: 16px;
        width: 50px;
        height: 40px;
        padding-top: 5px;
    }
   .number2{
       font-size: 16px; 
   }
   .number3{
       font-size: 16px; 
   }
   .number4{
       font-size: 16px; 
    }
    .btn{
        width: 300px;
        font-size: 25px;
    }
    .bagimage1{
     margin-right: 10px;
    }
    .bagimage1{
        margin-right: px;
    }
    .nav-li{
        display: felx;
    }


}
@media(max-width:1230px){
    .bag-title1 :nth-child(1){
        margin-right: 150px;
    }
    .image1-title{
        margin-right: 0;
    }
    .bag-p {
        font-size: 25px;
    }
    .bag-s{
        font-size: 15px;
    }
    .fa-trash-alt{
        font-size: 25px;
    }
    .bag-title1 span{
        font-size: 20px;
    }
    .cash{
        font-size: 20px;
    }
    .btn{
        width:190px;
        height: 50px;
        font-size: 15px;
    }
}
@media(max-width:950px){
    .bagimage1 img{
        width: 150px;
    }
    .bag-image2 img{
        width: 150px;
    }
    .order1{
        font-size: 12px;
    }
    .order1 :nth-child(1){
        font-size: 12px;
    }
    .order1 :nth-child(2){
        font-size: 12px;
    }
    .order1 :nth-child(3){
        font-size: 12px;
    }
    .order1 :nth-child(4){
        font-size: 12px;
    }
    .bag-box{
        font-size: 14px;
        width: 40px;
        height: 35px;
        padding-top: 5px;
    }
   .number2{
       font-size: 14px; 
   }
   .number3{
       font-size: 14px; 
   }
   .number4{
       font-size: 14px; 
    }
    .btn{
        width: 200px;
        font-size: 18px;
    }
    .bag-p{
        font-size: 20px;
    }
    .bag-s{
        font-size: 16px;
    }
    .bag-title1 :nth-child(1){
        margin-right:150px;
    }
}
@media(max-width:850px){
    .bagimage1 img{
        width: 130px;
    }
    .bag-title1 :nth-child(1){
        margin-right: 100px;
    }
    .bag-title1 span{
        font-size: 16px;
    }
}
